@font-face
  font-family SourceHanSansJP
  font-weight 100
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-ExtraLight.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 200
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Light.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 300
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Normal.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 400
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Regular.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 500
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Medium.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 600
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Bold.otf) format('opentype')

@font-face
  font-family SourceHanSansJP
  font-weight 700
  src url(./assets/fonts/SourceHanSansJP/SourceHanSansJP-Heavy.otf) format('opentype')

@font-face
  font-family TBUDGoStd
  font-weight 200
  src url(./assets/fonts/TBUDGoStd/TBUDGoStd-SuperLight.otf) format('opentype')

@font-face
  font-family TBUDGoStd
  font-weight 400
  src url(./assets/fonts/TBUDGoStd/TBUDGoStd-Regular.otf) format('opentype')

@font-face
  font-family TBUDGoStd
  font-weight 600
  src url(./assets/fonts/TBUDGoStd/TBUDGoStd-Bold.otf) format('opentype')

@font-face
  font-family TBUDGoStd
  font-weight 800
  src url(./assets/fonts/TBUDGoStd/TBUDGoStd-ExBold.otf) format('opentype')

@font-face
  font-family TBUDGoStd
  font-weight 900
  src url(./assets/fonts/TBUDGoStd/TBUDGoStd-Heavy.otf) format('opentype')

@font-face
  font-family Inconsolata
  font-weight: 400
  src url(./assets/fonts/Inconsolata/Inconsolata-Regular.ttf) format('truetype')

@font-face
  font-family Inconsolata
  font-weight: 700
  src url(./assets/fonts/Inconsolata/Inconsolata-Bold.ttf) format('truetype')
