// font

$body-font = 400 8.5px SourceHanSansJP, sans-serif
// $body-font = 400 8.5px TBUDGoStd, SourceHanSansJP, sans-serif
$body-line-height = 1.8
$heading-font-family = SourceHanSansJP, sans-serif
// $heading-font-family = TBUDGoStd
$code-font-family = Inconsolata, SourceHanSansJP, monospace
// $code-font-family = Inconsolata, TBUDGoStd, SourceHanSansJP, monospace
$nombre-font = 600 10px SourceHanSansJP, sans-serif
// $nombre-font = 600 10px TBUDGoStd, sans-serif
$kanji-variation-font-family = SourceHanSansJP
$header-line-height = 1.2
$pre-font = 500 8.5px $code-font-family
$pre-line-height = 1.3

// JIS B5
$page-width = 182mm
// $page-height = 257mm
$page-height = 182mm

$page-bleed = 3mm

$page-margin-top = 18mm
$page-margin-bottom = 18mm
$page-margin-inner = 25mm
$page-margin-outer = 15mm

$side-column-width = 25mm
$colum-gap-width = 8mm

$image-margin = 1.2rem

$stretch = 5in

$color-dominant = #006ebe
$color-dominant-bg = #006ebe
$color-link-text = #2798bd
$color-code-text = #f8f8f2
$color-code-bg = #272822
$color-note-bg = #6b6467
$color-note-code-bg = #4c4447
$color-note-body = #ffffff

// for publishing output
// $color-dominant = #000000
// $color-dominant-bg = #555555
// $color-link-text = #000000
// $color-code-text = #ffffff
// $color-code-bg = #303030
// $color-note-bg = #505050
// $color-note-code-bg = #333333

page-extra-mixins()
  // for publishing output
  // bleed: $page-bleed
  // marks: crop cross
